{% extends 'account/base.html'%}
{% block title %} Success - Email Verification Success {% endblock %}
{% block content%}

<div class="authentication-wrapper authentication-basic px-4">
  <div class="authentication-inner">
    <!-- Email Verified -->
    <div class="card px-sm-6 px-0">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center mb-6">
          <a href="/" class="app-brand-link gap-2">
            <span class="app-brand-logo demo">
              <img width="50" height="50" src="{{ url_for('static', filename='assets/img/favicon/logo.png') }}" alt="">
            </span>
            <span class="app-brand-text demo text-heading fw-bold">Learnify AI</span>
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-1">Email Verified Successfully 🎉</h4>
        <p class="text-start mb-0">
          Your email address <span class="fw-medium text-heading">{{email}}</span> has been successfully verified. You can now log in to your account.
        </p>
        <a class="btn btn-primary w-100 my-6" href="/login-user">
          Go to Login
        </a>
      </div>
    </div>
    <!-- /Email Verified -->
  </div>
</div>
{% endblock %}
