{% extends 'pages/base.html' %}
{% block title %}Profile Settings{% endblock %}
{% block heading %}Profile Settings{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills flex-column flex-md-row mb-6">
      <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="bx-sm bx bx-user me-1_5"></i> Profile</a></li>
      <li class="nav-item"><a class="nav-link" class="btn btn-sm btn-outline-primary"
        data-bs-toggle="popover"
        data-bs-offset="0,14"
        data-bs-placement="right"
        data-bs-html="true"
        data-bs-content="<p>This page is still under development.</p>"
        title="Info" href="javascript:void(0);"><i class="bx-sm bx bx-book me-1_5"></i> Academics</a></li>
      <li class="nav-item"><a class="nav-link" href="/security-settings"><i class="bx-sm bx bx-lock-alt me-1_5"></i> Security</a></li>
    </ul>
    <div class="card mb-4">
      <h5 class="card-header">Profile Details</h5>
      <div class="card-body">
        <div class="d-flex align-items-start align-items-sm-center gap-4">
          <img
            src="{{ url_for('static', filename='assets/img/avatars/student.svg') }}"
            alt="student-avatar"
            class="d-block rounded"
            height="100"
            width="100"
            id="uploadedAvatar"
          />
          <div class="button-wrapper">
            <label for="upload" data-bs-toggle="popover"
            data-bs-offset="0,14"
            data-bs-placement="right"
            data-bs-html="true"
            data-bs-content="<p>This feature is still under development.</p>"
            title="Info" class="btn btn-primary me-2 mb-4" tabindex="0">
              <span class="d-none d-sm-block">Upload new photo</span>
              <i class="bx bx-upload d-block d-sm-none"></i>
              <!-- <input
                type="file"
                id="upload"
                class="account-file-input"
                hidden
                accept="image/png, image/jpeg"
              /> -->
            </label>
            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
              <i class="bx bx-reset d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Reset</span>
            </button>
            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
          </div>
        </div>
      </div>
      <hr class="my-0" />
      <div class="card-body">
        <form id="formProfileSettings" method="POST" action="{{ url_for('user.profile_settings') }}">
          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="fullName" class="form-label">Full Name</label>
              <input class="form-control" type="text" id="fullName" name="full_name" value="{{profile.full_name}}" autofocus />
            </div>
            <div class="mb-3 col-md-6">
              <label for="email" class="form-label">E-mail</label>
              <input class="form-control" type="text" id="email" name="email" value="{{user.email}}" placeholder="john.doe@example.com" />
            </div>
            <div class="mb-3 col-md-6">
              <label for="university" class="form-label">University</label>
              <input type="text" class="form-control" id="university" name="university" value="{{profile.university}}" />
            </div>
            <div class="mb-3 col-md-6">
              <label for="course" class="form-label">Course</label>
              <input type="text" class="form-control" id="course" name="course" value="{{profile.course}}" />
            </div>
            <div class="mb-3 col-md-6">
              <label for="dateOfBirth" class="form-label">Date of Birth</label>
              <input type="date" class="form-control" id="dateOfBirth" name="date_of_birth" value="{{profile.date_of_birth}}" />
            </div>
            <div class="mb-3 col-md-6">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" value="{{profile.address}}" />
            </div>
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary me-2">Save changes</button>
            <button type="reset" class="btn btn-outline-secondary">Cancel</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
