<!DOCTYPE html>
<html class="no-js" lang="zxx"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Learnify AI - Get Practice Questions</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Place favicon.ico in the root directory -->
      <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
      <!-- CSS here -->
      <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/preloader.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/animate.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/animatedheadline.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/owl.carousel.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/swiper-bundle.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/backToTop.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/fontAwesome5Pro.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/flaticon.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/default.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaqueries.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

   </head>
   <body>
    <header>
      <nav>
        <div id="logo_text" class="logo_text">
          <a href="/">Learnify AI</a>
        </div>

        <div id="nav_buttons" class="nav_buttons">
          <button onclick="window.location.href='/login-user'" type="button">
            Login
          </button>
          <button onclick="window.location.href='/register'" type="button">
            SignUp
          </button>
        </div>
      </nav>
    </header>
    <main>
      <section class="home" id="home">
        <div class="home_text">
          <h2>Learnify Your Study</h2>
          <h3>The new way to us AI - for smart studying</h3>
          <div id="home_content" class="home_content">
            <div class="g_connect" onclick="window.location.href='index.html'">
              <div class="google_img">
                <img src="{{ url_for('static', filename='img/google_img.png') }}" alt="google" />
              </div>
              <div class="google_text">Continue with Google</div>
            </div>
            <p>
              By clicking “Continue with Google” you are agreeing to our <br />
              <span>Privacy Policy</span> and <span>Terms and Conditions</span>
            </p>
          </div>
          <button id="sm_btn" class="sm_btn" type="button">
            Get Started <span>- it's free</span>
          </button>
        </div>

        <div class="video_holder">
          <video
            src="{{ url_for('static', filename='vid/video-hero.mp4') }}"
            autoplay
            muted
            loop
            playsinline
          ></video>
        </div>
      </section>
      <section class="exams" id="exams">
        <div class="img_cointainer">
          <img src="{{ url_for('static', filename='img/timer-animation.png') }}" alt="timer" />
        </div>
        <div class="text_container">
          <h2>Exams around the corner?</h2>
          <p>
            We've got your back in amplifying your cram sessions. Our features
            are here to help you out.
          </p>
        </div>
      </section>

      <section id="features_1" class="features">
        <div class="btn_text text_1">
          <h2>Get solutions to different levels of understanding</h2>
          <p>
            All the problems you need to solve, including practice exams, are
            organized here, allowing for a quick overview. Detailed solutions
            and relevant concept explanations ensure complete understanding of
            any problem.
          </p>
          <button type="button">Get solutions</button>
        </div>
        <div class="sm_vid" id="vid_1">
          <video
            src="{{ url_for('static', filename='vid/video-landing_motion1.mp4') }}"
            autoplay
            muted
            loop
            playsinline
          ></video>
        </div>
      </section>

      <section id="features_2" class="features">
        <div class="btn_text text_2">
          <h2>Get solutions to different levels of understanding</h2>
          <p>
            All the problems you need to solve, including practice exams, are
            organized here, allowing for a quick overview. Detailed solutions
            and relevant concept explanations ensure complete understanding of
            any problem.
          </p>
          <button type="button">Get solutions</button>
        </div>
        <div class="sm_vid" id="vid_2">
          <video
            src="{{ url_for('static', filename='vid/video-landing_motion2.mp4') }}"
            autoplay
            muted
            loop
            playsinline
          ></video>
        </div>
      </section>

      <section id="features_3" class="features">
        <div class="btn_text text_3">
          <h2>Get solutions to different levels of understanding</h2>
          <p>
            All the problems you need to solve, including practice exams, are
            organized here, allowing for a quick overview. Detailed solutions
            and relevant concept explanations ensure complete understanding of
            any problem.
          </p>
          <button type="button">Get solutions</button>
        </div>
        <div class="sm_vid" id="vid_3">
          <video
            src="{{ url_for('static', filename='vid/video-landing_motion3.mp4') }}"
            autoplay
            muted
            loop
            playsinline
          ></video>
        </div>
      </section>
      <section class="slider" id="slider">
        <div class="slider_text"><h2>Discover the impact on students</h2></div>
        <div class="scroller">
          <div class="card_scroller scroller__inner">
            <div class="card card_1">
              <div class="card_img"><img src="{{ url_for('static', filename='img/man_1.jpeg') }}" /></div>
              <div class="card_text">
                <div class="title">
                  <h5>Mikey</h5>
                  <h6>UNIBEN</h6>
                </div>
                <h4>
                  Organizing my study materials became so much easier with
                  Learnify. My review times became more productive, too!
                </h4>
              </div>
            </div>

            <div class="card card_2">
              <div class="card_img"><img src="{{ url_for('static', filename='img/man_2.jpeg') }}" /></div>
              <div class="card_text">
                <div class="title">
                  <h5>Mikey</h5>
                  <h6>UNIBEN</h6>
                </div>
                <h4>
                  Organizing my study materials became so much easier with
                  Learnify. My review times became more productive, too!
                </h4>
              </div>
            </div>

            <div class="card card_3">
              <div class="card_img"><img src="{{ url_for('static', filename='img/man_3.jpeg') }}" /></div>
              <div class="card_text">
                <div class="title">
                  <h5>Mikey</h5>
                  <h6>UNIBEN</h6>
                </div>
                <h4>
                  Organizing my study materials became so much easier with
                  Learnify. My review times became more productive, too!
                </h4>
              </div>
            </div>

            <div class="card card_4">
              <div class="card_img"><img src="{{ url_for('static', filename='img/man_4.jpeg') }}" /></div>
              <div class="card_text">
                <div class="title">
                  <h5>Mikey</h5>
                  <h6>UNIBEN</h6>
                </div>
                <h4>
                  Organizing my study materials became so much easier with
                  Learnify. My review times became more productive, too!
                </h4>
              </div>
            </div>

            <div class="card card_5">
              <div class="card_img"><img src="{{ url_for('static', filename='img/woman_1.jpeg') }}" /></div>
              <div class="card_text">
                <div class="title">
                  <h5>Mikey</h5>
                  <h6>UNIBEN</h6>
                </div>
                <h4>
                  Organizing my study materials became so much easier with
                  Learnify. My review times became more productive, too!
                </h4>
              </div>
            </div>

            <div class="card card_6">
              <div class="card_img"><img src="{{ url_for('static', filename='img/woman_2.jpeg') }}" /></div>
              <div class="card_text">
                <div class="title">
                  <h5>Mikey</h5>
                  <h6>UNIBEN</h6>
                </div>
                <h4>
                  Organizing my study materials became so much easier with
                  Learnify. My review times became more productive, too!
                </h4>
              </div>
            </div>

            <div class="card card_7">
              <div class="card_img"><img src="{{ url_for('static', filename='img/woman_3.jpeg') }}" /></div>
              <div class="card_text">
                <div class="title">
                  <h5>Mikey</h5>
                  <h6>UNIBEN</h6>
                </div>
                <h4>
                  Organizing my study materials became so much easier with
                  Learnify. My review times became more productive, too!
                </h4>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="cta" class="cta">
        <div class="cta_text_box">
          <h2>Try your Learnify AI today and be the best</h2>
          <h6>Sign up to start your free trial.</h6>
        </div>
        <div class="cta_btn_box">
          <div class="cta_btn_text_box">
            <h4>Put your class code:</h4>
            <h3>MEE211</h3>
          </div>
          <button class="cta_btn" type="button">Get Started</button>
        </div>
      </section>
    </main>
    <footer>
      <div class="main_content">
        <div class="info">
          <h2>Learnify AI</h2>
          <p>
            Learnify AI uses AI to create practice questions and exercises,
            providing personalized learning experiences for students.
          </p>
        </div>
        <div class="l_links">
          <h3>Legal</h3>
          <ul>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Copyright</a></li>
          </ul>
        </div>
        <div class="cs_links">
          <h3>Customer Service</h3>
          <ul>
            <li><a href="#">Help and Feedback</a></li>
            <li><a href="#"></a>FAQs</li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <p>© 2024 TPA. All rights reserved</p>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>    
  </body>
</html>