{% extends 'pages/base.html' %}
{% block heading %}{{ course.course_name }}{% endblock %}

{% block style %}
<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .flex-btn {
        width: calc(100% / 7 - 10px); /* Adjust width to fit 7 buttons per row */
        height: 30px;
        padding: 0;
        margin: 5px;
        font-size: 12px;
        text-align: center;
        line-height: 30px; /* Vertically center the text */
    }
    .quiz-question {
        display: none;
    }
    .quiz-question.active {
        display: block;
    }
    .current-question-btn {
        background-color: #696cff;
        color: white;
    }
    .correct-answer {
        background-color: #28a745; /* Green */
        color: white;
    }
    .incorrect-answer {
        background-color: #dc3545; /* Red */
        color: white;
    }
    .correct-option {
        color: #28a745; /* Green */
    }
    .incorrect-option {
        color: #dc3545; /* Red */
    }
</style>
{% endblock %}
{% block content %}
<h5 class="mt-4">{{ course._for}}</h5>
<div class="row">
    <div class="col-lg-8 mb-4">
      <small class="text-light fw-semibold">English</small>
      <div class="accordion mt-3" id="accordionExample">
        {% for index, quiz in enumerate(quizzes) %}
        <div class="card accordion-item" id="instruction-card-{{ index }}" style="display: none;">
            <h2 class="accordion-header" id="heading{{ index }}">
                <button
                  type="button"
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion{{ index }}"
                  aria-expanded="true"
                  aria-controls="accordion{{ index }}"
                >
                  Instructions for Question {{ index + 1 }}
                </button>
            </h2>
            <div
              id="accordion{{ index }}"
              class="accordion-collapse collapse show"
              aria-labelledby="heading{{ index }}"
              data-bs-parent="#accordionExample"
            >
                <div class="accordion-body">
                    {{ quiz.instructions }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>

    <div class="col-12 col-lg-8 mb-4">
        {% for index, quiz in enumerate(quizzes) %}
        <div class="card mb-6 quiz-question" id="question-{{ index }}">
            <div class="card-body">
                <h6>Question {{ index + 1 }}</h6>
                <p>{{ quiz['question_text'] }}</p>
                {% for option in quiz['options'] %}
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="question{{ index }}" id="option{{ option['option_text'] }}" value="{{ option['option_text'] }}" {% if user_answers[index] == option['option_text'] %} checked {% endif %} disabled>
                    <label class="form-check-label 
                    {% if option['is_correct'] %}correct-option{% elif user_answers[index] == option['option_text'] and quiz['correct_answer'] != option['option_text'] %}incorrect-option{% endif %}" 
                    for="option{{ option['option_text'] }}">
                        {{ option['option_text'] }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-between mt-4">
            <button id="previousButton" class="btn btn-label-secondary">
                <i class="bx bx-chevron-left bx-sm lh-1 scaleX-n1-rtl"></i> Previous
            </button>
            <button id="nextButton" class="btn btn-label-primary">
                Next <i class="bx bx-chevron-right bx-sm lh-1 scaleX-n1-rtl"></i>
            </button>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <div class="flex-container">
                        {% for i, quiz in  enumerate(quizzes)  %}
                        <button id="btn-{{ i }}" class="btn flex-btn {% if user_answers[i] == quiz['answer'] %}correct-answer{% else %}incorrect-answer{% endif %}" onclick="showQuestion({{ i  }})">{{ i + 1 }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let currentQuestion = 0;
    const totalQuestions = {{ (course.quizzes + course.quiz_questions) | length }};

    document.addEventListener('DOMContentLoaded', (event) => {
        if (totalQuestions > 0) {
            showQuestion(currentQuestion);

            document.getElementById('nextButton').addEventListener('click', () => {
                if (currentQuestion < totalQuestions - 1) {
                    currentQuestion++;
                    showQuestion(currentQuestion);
                }
            });

            document.getElementById('previousButton').addEventListener('click', () => {
                if (currentQuestion > 0) {
                    currentQuestion--;
                    showQuestion(currentQuestion);
                }
            });
        }
    });

    function showQuestion(index) {
        const questions = document.querySelectorAll('.quiz-question');
        const instructionCards = document.querySelectorAll('.accordion-item');
        questions.forEach((question, idx) => {
            question.classList.toggle('active', idx === index);
        });
        instructionCards.forEach((card, idx) => {
            card.style.display = (idx === index) ? 'block' : 'none';
        });
        const buttons = document.querySelectorAll('.flex-btn');
        buttons.forEach((button, idx) => {
            button.classList.toggle('current-question-btn', idx === index);
        });

        currentQuestion = index;
    }
</script>
{% endblock %}
