<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages_css/quiz.css') }}">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Choose Your Course</h1>
        <ul>
            <li><a href="practice?course=course1">Take Quiz Course 1</a></li>
            <li><a href="practice?course=course2">Take Quiz Course 2</a></li>
            <li><a href="practice?course=course3">Take Quiz Course 3</a></li>
        </ul>
    </div>
</body>
</html>
