<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learnify AI</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/pages_css/ob.css') }}">
  </head>
  <body>
    <section class="home" id="home">
      <div class="title"><h2>Learnify AI</h2></div>
      <div class="up_container">
        <div class="text">
          <h3>Let's <span>prepare for your exam</span> together</h3>
          <p>Tell us a few things before you get started</p>
        </div>
        <div class="input_container">
          <div class="input_box">
            <h3>Select your school</h3>
            <h5>School</h5>
            <div class="search-container">
              <input
                type="text"
                id="search-input"
                placeholder="Enter Your School..."
              />
              <div id="search-results" class="dropdown-content"></div>
            </div>
          </div>
          <button id="start-button" class="input_btn" type="button" disabled>
            Start
          </button>
        </div>
      </div>
      <div class="bottom">
        <h5>Why do we ask for this?</h5>
        <p>
          This information will be used to personalize your experience and will
          not be shared or made public.
        </p>
      </div>
    </section>
    <!-- <script src="script.js"></script> -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>    
  </body>
</html>
